/* line 17, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../.rbenv/versions/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/*  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face { font-family: "FontAwesome"; src: url("fonts/fontawesome/fontawesome-webfont.eot?v=3.0.1"); src: url("fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("fonts/fontawesome/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("fonts/fontawesome/fontawesome-webfont.ttf?v=3.0.1") format("truetype"); font-weight: normal; font-style: normal; }

/*  Font Awesome styles ------------------------------------------------------- */
/* line 45, fonts/fontawesome/_fontawesome.sass */
[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; -webkit-font-smoothing: antialiased; /* sprites.less reset */ display: inline; width: auto; height: auto; line-height: normal; vertical-align: baseline; background-image: none; background-position: 0% 0%; background-repeat: repeat; margin-top: 0; }

/* more sprites.less reset */
/* line 65, fonts/fontawesome/_fontawesome.sass */
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] { background-image: none; }

/* line 80, fonts/fontawesome/_fontawesome.sass */
[class^="icon-"]:before, [class*=" icon-"]:before { text-decoration: inherit; display: inline-block; speak: none; }

/* makes sure icons active on rollover in links */
/* line 88, fonts/fontawesome/_fontawesome.sass */
a [class^="icon-"], a [class*=" icon-"] { display: inline-block; }

/* makes the font 33% larger relative to the icon container */
/* line 93, fonts/fontawesome/_fontawesome.sass */
.icon-large:before { vertical-align: -10%; font-size: 1.33333em; }

/* line 98, fonts/fontawesome/_fontawesome.sass */
.btn [class^="icon-"], .btn [class*=" icon-"], .nav [class^="icon-"], .nav [class*=" icon-"] { display: inline; /* keeps button heights with and without icons the same */ }
/* line 102, fonts/fontawesome/_fontawesome.sass */
.btn [class^="icon-"].icon-large, .btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large, .nav [class*=" icon-"].icon-large { line-height: 0.9em; }
/* line 104, fonts/fontawesome/_fontawesome.sass */
.btn [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .nav [class*=" icon-"].icon-spin { display: inline-block; }

/* line 108, fonts/fontawesome/_fontawesome.sass */
.nav-tabs [class^="icon-"], .nav-tabs [class*=" icon-"], .nav-pills [class^="icon-"], .nav-pills [class*=" icon-"] { /* keeps button heights with and without icons the same */ line-height: 0.9em; }
/* line 112, fonts/fontawesome/_fontawesome.sass */
.nav-tabs [class^="icon-"].icon-large, .nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"].icon-large, .nav-pills [class*=" icon-"].icon-large { line-height: 0.9em; }

/* line 116, fonts/fontawesome/_fontawesome.sass */
li [class^="icon-"], li [class*=" icon-"], .nav li [class^="icon-"], .nav li [class*=" icon-"] { display: inline-block; width: 1.25em; text-align: center; }
/* line 121, fonts/fontawesome/_fontawesome.sass */
li [class^="icon-"].icon-large, li [class*=" icon-"].icon-large, .nav li [class^="icon-"].icon-large, .nav li [class*=" icon-"].icon-large { /* increased font size for icon-large */ width: 1.5625em; }

/* line 125, fonts/fontawesome/_fontawesome.sass */
ul.icons { list-style-type: none; text-indent: -0.75em; }
/* line 129, fonts/fontawesome/_fontawesome.sass */
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] { width: 0.75em; }

/* line 133, fonts/fontawesome/_fontawesome.sass */
.icon-muted { color: #eeeeee; }

/* line 139, fonts/fontawesome/_fontawesome.sass */
.icon-border { border: solid 1px #eeeeee; padding: 0.2em 0.25em 0.15em; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

/* line 147, fonts/fontawesome/_fontawesome.sass */
.icon-2x { font-size: 2em; }
/* line 149, fonts/fontawesome/_fontawesome.sass */
.icon-2x.icon-border { border-width: 2px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/* line 153, fonts/fontawesome/_fontawesome.sass */
.icon-3x { font-size: 3em; }
/* line 155, fonts/fontawesome/_fontawesome.sass */
.icon-3x.icon-border { border-width: 3px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

/* line 159, fonts/fontawesome/_fontawesome.sass */
.icon-4x { font-size: 4em; }
/* line 161, fonts/fontawesome/_fontawesome.sass */
.icon-4x.icon-border { border-width: 4px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

/* line 169, fonts/fontawesome/_fontawesome.sass */
.pull-right { float: right; }

/* line 171, fonts/fontawesome/_fontawesome.sass */
.pull-left { float: left; }

/* line 176, fonts/fontawesome/_fontawesome.sass */
[class^="icon-"].pull-left, [class*=" icon-"].pull-left { margin-right: 0.3em; }
/* line 178, fonts/fontawesome/_fontawesome.sass */
[class^="icon-"].pull-right, [class*=" icon-"].pull-right { margin-left: 0.3em; }

/* line 185, fonts/fontawesome/_fontawesome.sass */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x { margin-top: 0.18em; }
/* line 187, fonts/fontawesome/_fontawesome.sass */
.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large { line-height: 0.8em; }

/* line 194, fonts/fontawesome/_fontawesome.sass */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x, .btn.btn-small [class*=" icon-"].pull-left.icon-2x, .btn.btn-small [class*=" icon-"].pull-right.icon-2x { margin-top: 0.25em; }

/* line 198, fonts/fontawesome/_fontawesome.sass */
.btn.btn-large [class^="icon-"], .btn.btn-large [class*=" icon-"] { margin-top: 0; }
/* line 202, fonts/fontawesome/_fontawesome.sass */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x { margin-top: 0.05em; }
/* line 204, fonts/fontawesome/_fontawesome.sass */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x { margin-right: 0.2em; }
/* line 206, fonts/fontawesome/_fontawesome.sass */
.btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x { margin-left: 0.2em; }

/* line 210, fonts/fontawesome/_fontawesome.sass */
.icon-spin { display: inline-block; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }

@-moz-keyframes spin { /* line 218, fonts/fontawesome/_fontawesome.sass */
  0% { -moz-transform: rotate(0deg); }
  /* line 220, fonts/fontawesome/_fontawesome.sass */
  100% { -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin { /* line 224, fonts/fontawesome/_fontawesome.sass */
  0% { -webkit-transform: rotate(0deg); }
  /* line 226, fonts/fontawesome/_fontawesome.sass */
  100% { -webkit-transform: rotate(359deg); } }

@-o-keyframes spin { /* line 230, fonts/fontawesome/_fontawesome.sass */
  0% { -o-transform: rotate(0deg); }
  /* line 232, fonts/fontawesome/_fontawesome.sass */
  100% { -o-transform: rotate(359deg); } }

@-ms-keyframes spin { /* line 236, fonts/fontawesome/_fontawesome.sass */
  0% { -ms-transform: rotate(0deg); }
  /* line 238, fonts/fontawesome/_fontawesome.sass */
  100% { -ms-transform: rotate(359deg); } }

@keyframes spin { /* line 242, fonts/fontawesome/_fontawesome.sass */
  0% { transform: rotate(0deg); }
  /* line 244, fonts/fontawesome/_fontawesome.sass */
  100% { transform: rotate(359deg); } }

@-moz-document url-prefix() { /* line 248, fonts/fontawesome/_fontawesome.sass */
  .icon-spin { height: 0.9em; }
  /* line 250, fonts/fontawesome/_fontawesome.sass */
  .btn .icon-spin { height: auto; }
  /* line 252, fonts/fontawesome/_fontawesome.sass */
  .icon-spin.icon-large { height: 1.25em; }
  /* line 254, fonts/fontawesome/_fontawesome.sass */
  .btn .icon-spin.icon-large { height: 0.75em; } }

/* line 257, fonts/fontawesome/_fontawesome.sass */
.icon-home:before, .home:before { content: "\f015"; }

/* line 260, fonts/fontawesome/_fontawesome.sass */
.icon-book:before { content: "\f02d"; }

/* line 263, fonts/fontawesome/_fontawesome.sass */
.icon-pencil:before, .blog:before { content: "\f040"; }

/* line 266, fonts/fontawesome/_fontawesome.sass */
.icon-twitter:before, .twitter:before { content: "\f099"; }

/* line 269, fonts/fontawesome/_fontawesome.sass */
.icon-github:before, .github:before { content: "\f09b"; }

/* line 272, fonts/fontawesome/_fontawesome.sass */
.icon-envelope-alt:before, .email:before { content: "\f0e0"; }

@font-face { font-family: "Linux Libertine"; src: url('/css/fonts/linux-libertine/LinLibertine_R-webfont.eot'); src: url('/css/fonts/linux-libertine/LinLibertine_R-webfont.eot?#iefix') format('eot'), url('/css/fonts/linux-libertine/LinLibertine_R-webfont.woff') format('woff'), url('/css/fonts/linux-libertine/LinLibertine_R-webfont.ttf') format('truetype'), url('/css/fonts/linux-libertine/LinLibertine_R-webfont.svg') format('svg'); }

@font-face { font-family: "Cabin"; src: url('/css/fonts/cabin/Cabin-Regular-webfont.eot'); src: url('/css/fonts/cabin/Cabin-Regular-webfont.eot?#iefix') format('eot'), url('/css/fonts/cabin/Cabin-Regular-webfont.woff') format('woff'), url('/css/fonts/cabin/Cabin-Regular-webfont.ttf') format('truetype'), url('/css/fonts/cabin/Cabin-Regular-webfont.svg') format('svg'); }

@font-face { font-family: "Cabin"; src: url('/css/fonts/cabin/Cabin-Bold-webfont.eot'); src: url('/css/fonts/cabin/Cabin-Bold-webfont.eot?#iefix') format('eot'), url('/css/fonts/cabin/Cabin-Bold-webfont.woff') format('woff'), url('/css/fonts/cabin/Cabin-Bold-webfont.ttf') format('truetype'), url('/css/fonts/cabin/Cabin-Bold-webfont.svg') format('svg'); font-weight: bold; }

@font-face { font-family: "Cabin"; src: url('/css/fonts/cabin/Cabin-Italic-webfont.eot'); src: url('/css/fonts/cabin/Cabin-Italic-webfont.eot?#iefix') format('eot'), url('/css/fonts/cabin/Cabin-Italic-webfont.woff') format('woff'), url('/css/fonts/cabin/Cabin-Italic-webfont.ttf') format('truetype'), url('/css/fonts/cabin/Cabin-Italic-webfont.svg') format('svg'); font-weight: normal; font-style: italic; }

@font-face { font-family: "Cabin"; src: url('/css/fonts/cabin/Cabin-BoldItalic-webfont.eot'); src: url('/css/fonts/cabin/Cabin-BoldItalic-webfont.eot?#iefix') format('eot'), url('/css/fonts/cabin/Cabin-BoldItalic-webfont.woff') format('woff'), url('/css/fonts/cabin/Cabin-BoldItalic-webfont.ttf') format('truetype'), url('/css/fonts/cabin/Cabin-BoldItalic-webfont.svg') format('svg'); font-weight: bold; font-style: italic; }

@font-face { font-family: "Source Code Pro"; src: url('/css/fonts/source_code_pro/SourceCodePro-Regular-webfont.eot'); src: url('/css/fonts/source_code_pro/SourceCodePro-Regular-webfont.eot?#iefix') format('eot'), url('/css/fonts/source_code_pro/SourceCodePro-Regular-webfont.woff') format('woff'), url('/css/fonts/source_code_pro/SourceCodePro-Regular-webfont.ttf') format('truetype'), url('/css/fonts/source_code_pro/SourceCodePro-Regular-webfont.svg') format('svg'); }

/* line 1, modules/_header.sass */
body > header { text-align: center; }
/* line 4, modules/_header.sass */
body > header h1 { font-family: "Linux Libertine", serif; font-size: 4.8em; margin: 0.25em 0 0.1em; }
/* line 8, modules/_header.sass */
body > header h1:before { content: "{"; }
/* line 10, modules/_header.sass */
body > header h1:after { content: "}"; }
/* line 12, modules/_header.sass */
body > header h1 a:focus, body > header h1 a:hover { text-decoration: none; }
/* line 15, modules/_header.sass */
body > header h2 { font-family: "Linux Libertine", serif; font-size: 1.5em; margin: 0 0 0.5em; }
/* line 20, modules/_header.sass */
body > header li { display: inline; margin: 0 1em 0 0; }

/* line 24, modules/_header.sass */
.home, .blog { font-family: FontAwesome; margin: 0 1em 0 0; }

/* line 1, modules/_footer.sass */
body > footer { clear: left; font-size: 0.8em; margin: 1em 0 0; text-align: center; }
/* line 7, modules/_footer.sass */
body > footer p:first-child { margin: 0 0 0.2em; }

/* line 2, modules/_article.sass */
.post p { overflow: hidden; *zoom: 1; text-align: left; }
/* line 5, modules/_article.sass */
.post p:nth-of-type(odd) img { float: left; margin: 0 1em 0 0; }
/* line 8, modules/_article.sass */
.post p:nth-of-type(even) img { float: right; margin: 0 0 0 1em; }
/* line 12, modules/_article.sass */
.post h2, .post h3, .post h4, .post h5, .post h6 { font-size: 2em; margin: 0 0 0.5em; }
/* line 16, modules/_article.sass */
.post blockquote { color: #406abf; background: #e6ddb3; font-family: "Linux Libertine"; font-size: 3.5em; text-align: center; border: medium double white; max-width: 80%; margin: 0.5em auto; }
/* line 34, _typography.sass */
.post blockquote:before { content: "\201C"; }
/* line 41, _typography.sass */
.post blockquote:after { content: "\201D"; }
/* line 29, modules/_article.sass */
.post blockquote p { display: inline; color: black; font-size: 28px; margin: 0; }
/* line 35, modules/_article.sass */
.post .post-meta { font-size: 20px; margin: 0; }
/* line 39, modules/_article.sass */
.post code { white-space: pre; font-family: "Source Code Pro", monospace; }
/* line 43, modules/_article.sass */
.post ul { list-style: disc inside; }
/* line 46, modules/_article.sass */
.post ol { list-style: decimal inside; }
/* line 50, modules/_article.sass */
.post img:nth-of-type(odd) { float: left; }
/* line 52, modules/_article.sass */
.post img:nth-of-type(even) { float: right; }

/* line 11, modules/_home.sass */
#home p { margin: 0 0 1.8em; }
/* line 13, modules/_home.sass */
#home p:last-of-type { margin: 0 0 1em; }
/* line 16, modules/_home.sass */
#home img { float: left; margin: 0 1em 0 0; }
/* line 20, modules/_home.sass */
#home ul { float: left; }
/* line 23, modules/_home.sass */
#home li { float: left; width: 190px; }
/* line 28, modules/_home.sass */
#home li:nth-of-type(3n-1) { margin: 0 15px; }
/* line 30, modules/_home.sass */
#home li, #home li a { display: block; }
/* line 33, modules/_home.sass */
#home a { font-weight: bold; line-height: 3em; min-height: 3em; text-decoration: none; }
/* line 7, modules/_home.sass */
#home a:focus, #home a:hover { color: white; background: #406abf; }
/* line 36, modules/_home.sass */
#home span { float: left; font-family: FontAwesome; font-size: 2em; margin: 0 0.3em; }

/* line 1, modules/_404.sass */
#four-oh-four { text-align: center; }
/* line 3, modules/_404.sass */
#four-oh-four h1 { font-size: 2em; margin: 0 0 0.5em; }

/* line 8, style.css.sass */
body { background: white; max-width: 600px; margin: auto; font-family: "Cabin", sans-serif; }

/* line 14, style.css.sass */
em { font-style: italic; }

/* line 17, style.css.sass */
strong { font-weight: bold; }

/* line 20, style.css.sass */
a { color: #406abf; text-decoration: none; }
/* line 23, style.css.sass */
a:hover, a:focus { text-decoration: underline; }

/* line 26, style.css.sass */
.wrap { overflow: hidden; *zoom: 1; margin: 1em 0; }

/* line 30, style.css.sass */
h1, h2, h3, h4, h5, h6 { font-family: "Linux Libertine"; text-align: center; }

/* line 35, style.css.sass */
section h1, section p { text-align: center; }
/* line 38, style.css.sass */
section h1 { font-size: 2em; font-family: "Linux Libertine"; }
/* line 42, style.css.sass */
section p { margin: 1em 0; padding: 0 0 0.5em; }
