@import "base";

@include font-face("Alegreya", font-files("fonts/alegreya/Alegreya_Regular.otf"));

body{
	font-family: Alegreya;
	font-size: 16px;
}

#container{
  max-width: 620px;
  margin: auto;
}

h1, h2, footer{
  text-align: center    
}

h1{
	font-size: 72px;
	&:before{
		content: "{";
	}
	&:after{
		content: "}";
	}
}

h2{
	border-bottom: solid black 2px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

p{
	margin-bottom: 15px;
	img{
		float: left;
		margin-right: 10px;
		border: solid black 1px
	}
}

a{
	text-decoration: none;
	color: #778aff;
}

ul{
	@include column-count(3);

	clear: both;
	margin-bottom: 10px;
	padding-top: 10px;
	a{
		display: block;
		min-height: 48px;
		padding-left: 48px + 10px;
		line-height: 48px;
		background-repeat: no-repeat;

		// Iterate to generate correct background-image url.
		@each $title in email, twitter, github{
			&[title="#{$title}"]{
				background-image: url("../images/#{$title}-48x48.png");
				&:hover, &:focus{
					background-color: #eef;
					background-image: url("../images/#{$title}-48x48.png");
				}
			}
		}
	}
}

footer{
	font-size: 14px;
}
