@import base
@import modules/header
@import modules/footer

body
  background: $site_bg
  max-width: $max_width
  margin: auto
  font-family: "Cabin", sans-serif

a
  color: $link_color
  text-decoration: none
  &:hover, &:focus
    text-decoration: underline

.wrap
  float: left
  margin: 1em 0

#home
  @mixin a-social
    // color: #000
    font-weight: bold
    line-height: 3em
    min-height: 3em
    text-decoration: none
    &:focus, &:hover
      color: #fff
      background: $link_color

  p
    margin: 0 0 1.8em
    &:last-of-type
      margin: 0 0 1em

  img
    float: left
    margin: 0 1em 0 0

  ul
    float: left

  li
    $social_gutter: 10px

    float: left
    width: $max_width / 3 - $social_gutter
    margin: 0 $social_gutter 0 0
    &, a
      display: block

  
  a
    @include a-social
  span
    font-family: FontAwesome
    font-size: 2em
    margin: 0 0.3em

  .email
    @extend .icon-envelope-alt

  .twitter
    @extend .icon-twitter

  .github
    @extend .icon-github
