@import base
@import modules/header
@import modules/footer

body
  background: $site_bg
  max-width: $max_width
  margin: auto
  font-family: "Cabin", sans-serif

a
  color: $link_color
  text-decoration: none
  &:hover, &:focus
    text-decoration: underline

.wrap
  float: left
  margin: 1em 0

#home
  @mixin a-social
    // color: #000
    font-weight: bold
    line-height: 3em
    min-height: 3em
    text-decoration: none
    &:focus, &:hover
      color: #fff
      background: $link_color

  p
    margin: 0 0 1.8em
    &:last-of-type
      margin: 0 0 1em

  img
    float: left
    margin: 0 1em 0 0

  ul
    float: left

  li
    $social_gutter: 10px

    float: left
    width: $max_width / 3 - $social_gutter
    margin: 0 $social_gutter 0 0
    &, a
      display: block

  @mixin a-social
    background: hsl(220, 50, 50)
    // box-shadow: 2px 2px 1px #888
    color: #fff
    font-weight: bold
    line-height: 3em
    min-height: 3em
    text-decoration: none
    // text-indent: 4em
    // &:active
    //   box-shadow: inset 3px 3px 1px #666
  
  a
    @include a-social

  .github
