@import base
@import modules/header
@import modules/footer
@import home

body
  background: $site_bg
  max-width: $max_width
  margin: auto
  font-family: "Cabin", sans-serif

a
  color: $link_color
  text-decoration: none
  &:hover, &:focus
    text-decoration: underline

.wrap
  +clearfix
  margin: 1em 0

section
  h1, h2
    font-family: "Linux Libertine"

  h1
    font-size: 2em
    text-align: center
